
/* PRODUCTS */
.products-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 80px auto 80px;
}

.products-section .sidebar li.active {
  font-weight: 500;
}

.products-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 30px;
}

.products-section .products .product-price {
  color: #919191;
}

.products-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
  padding: 100px 0 120px;
}

.product-section-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #979797;
  padding: 30px;
  text-align: center;
  height: 400px;
}

.product-section-information p {
  margin-bottom: 16px;
}

.product-section-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #919191;
}

.product-section-price {
  font-size: 38px;
  color: #212121;
  margin-bottom: 16px;
}

.cart-section {
  display: grid;
  grid-gap: 30px;
  margin: 60px auto;
}

.cart-section h2 {
  margin-bottom: 30px;
}

.cart-section .cart-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e7eaec;
  padding: 14px 0;
}

.cart-section .cart-table-row:last-child {
  border-bottom: 1px solid #e7eaec;
}

.cart-section .cart-table-row .cart-table-row-left,
.cart-section .cart-table-row .cart-table-row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-section .cart-table-row .cart-table-row-left {
  width: 50%;
}

.cart-section .cart-table-row .cart-table-row-right {
  width: 33%;
  padding-top: 10px;
}

.cart-section .cart-table-row .cart-table-img {
  max-height: 75px;
}

.cart-section .cart-table-row .cart-table-actions {
  text-align: right;
  font-size: 14px;
}

.cart-section .cart-table-row .cart-item-details {
  padding-top: 5px;
}

.cart-section .cart-table-row .cart-table-description {
  color: #919191;
}

.cart-section .cart-table-row .cart-options {
  color: #212121;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}

.cart-section .cart-table-row .cart-options:hover {
  color: #6e6d6d;
}

.cart-section .cart-totals {
  margin: 30px 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F5F5F5;
}

.cart-section .cart-totals .cart-totals-left {
  width: 50%;
}

.cart-section .cart-totals .cart-totals-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  text-align: right;
}

.cart-section .cart-totals .cart-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
}

.cart-section .cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px auto 80px;
}

.checkout-table-container {
  margin-left: 124px;
}

.checkout-section h2 {
  margin-bottom: 28px;
}

.checkout-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e7eaec;
  padding: 14px 0;
}

.checkout-table-row:last-child {
  border-bottom: 1px solid #e7eaec;
}

.checkout-table-row .checkout-table-row-left,
.checkout-table-row .checkout-table-row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-table-row .checkout-table-row-left {width: 75%;}

.checkout-table-row .checkout-table-img {
  max-height: 60px;
}

.checkout-table-row .checkout-table-description {
  color: #e7eaec;
}

.checkout-table-row .checkout-table-price {
  padding-top: 6px;
}

.checkout-table-row .checkout-table-quantity {
  border: 1px solid #e7eaec;
  padding: 4px 12px;
  margin-right: 5px;
}

.checkout-totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e7eaec;
  padding: 18px 0;
  line-height: 2;
}

.checkout-totals .checkout-totals-right {
  text-align: right;
}

.checkout-totals .checkout-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2.2;
}

.have-code {
  display: block;
  margin: 14px 0;
}

.have-code-container {
  border: 1px solid #e7eaec;
  padding: 16px;
}

.have-code-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.have-code-container input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

.have-code-container input[type="submit"] {
  background: white;
  border: 1px solid #e7eaec;
  padding-top: 8px;
  padding-bottom: 8px;
}

.have-code-container input[type="submit"]:hover {
  background: #212121;
}

/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/

.StripeElement {
  background-color: white;
  padding: 16px 16px;
  border: 1px solid #ccc;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}

.thank-you-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.thank-you-section h1 {
  margin-bottom: 10px;
}